:root {
  --container-bg: #e9ecef;
  --headline-bg: #495057;
  --control: #ced4da;
  --control-hover: #adb5bd;
  --control-active: #495057;
  --control-border: #212529;
  --github-dark: #212529;
  --github-light: #f1f3f5;
  --win-text: #087f5b;
  --lose-text: #f03e3e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
}
.container {
  max-width: 1300px;
  height: 90vh;
  margin: 3rem auto;
  background-color: var(--container-bg);
  font-family: 'Inter', sans-serif;
  position: relative;
}
.repo-link {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4.5rem;
  width: 4.5rem;
  padding: 0.8rem;
  border-radius: 0 8px 0 0;
  background-color: var(--github-dark);
}
.repo-link svg {
  stroke: var(--github-light);
  fill: var(--github-light);
}
.board-content {
  font-size: 1.2rem;
  padding: 3rem 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* justify-content: center;
  align-items: center; */
  gap: 2rem;
  height: 100%;
}
game-control {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 2.5rem;
}
.headline {
  font-size: 2.5rem;
  background-color: var(--headline-bg);
  text-align: center;
  padding: 3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.headline p {
  color: white;
}
.current-color {
  font-weight: 700;
}
.controls {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.controls p {
  background-color: var(--control);
  padding: 1.5rem 2rem;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.controls p:nth-of-type(1) {
  border-radius: 8px 0 0 8px;
}
.controls p:nth-of-type(3) {
  border-radius: 0 8px 8px 0;
}
.controls p:hover {
  background-color: var(--control-hover);
}
.controls p:active {
  background-color: var(--control-active);
}
.controls p.active {
  box-shadow: inset 0 0 0 2px var(--control-border);
  font-weight: 700;
}
.end-message {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}
.end-message.success {
  color: var(--win-text);
}
.end-message.failed {
  color: var(--lose-text);
}
.information {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 2rem;
  margin-top: 3rem;
}
.grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}
.color-cell {
  height: 18rem;
  /* width: 16rem; */
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.color-cell.hidden {
  opacity: 0;
  pointer-events: none;
}
.color-cell:hover {
  transform: scale(105%);
}